{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">

</head>
<body>
    <div class="container">
        <header>

            <img src="{% static 'images/banner.png' %}" alt="noimage" width="100%">
        </header>
        <button class="btn btn-secondary">Click Me!</button>
        <button class="btn btn-success">Submit</button>
        <button class="btn btn-danger">Delete</button>
        <a class="btn btn-primary" href="">Don't Click Hear</a>
 
        <hr>
        <br>
    <table border="1" width="100%">
        <tr class="table-dark">
            <td>ID</td>
            <td>Name</td>
            <td>Address</td>
            <td>Phone Number</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Salam</td>
            <td>Panthopath</td>
            <td>1234</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Ceasar</td>
            <td>Mirpur</td>
            <td>9999</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Azam</td>
            <td>Uttara</td>
            <td>1010</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Kabir</td>
            <td>Razabazar</td>
            <td>5555</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    </div>
</body>
</html>